$button-height: 32px;
$button-bgc: #FFFFFF;
$button-font-color: #333;
$button-border: 1px solid #999999;
$button-hover-border-color: #333;
$button-hover-bgc: #ccc;
$button-border-radius: 4px;
$button-small-height: 24px;
$button-min-height: 18px;
$button-min-font-size:12px;